<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="cucumber practice test" verbose="2">

	<test name="Patient Registration Test">
		<classes>
			<class name="com.practice.runner.TestRunner" />
		</classes>
	</test>

</suite> <!-- Suite -->
